body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  background-color: rgb(235, 236, 235);
}

/* comentar en css*/
#app {
  width: 300px;
  margin: auto;
}

h2 {
  text-align: center;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: green;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}